.breadcrumb {
    @include flex(center, flex-start);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1rem 0;

    &__item {
        font-size: 1.1rem;
        font-weight: 600;
        // Giới hạn trong 1 dòng
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    &__item.active {
        color: $main-color;
    }

    &__separator {
        font-size: 1.7rem;
        position: relative;
        top: 3px;
    }
}
