.catalog {
    @include flex(flex-start, flex-start);
    padding-top: 30px;

    &__filter {
        width: 20%;

        @include tablet {
            display: none;
        }
    }

    &__content {
        width: 80%;

        @include tablet {
            width: 100%;
        }
    }
}
