.catalog {
    @include flex(flex-start, flex-start);
    padding-top: 30px;

    @include tablet {
        padding-top: unset;
    }

    &__filter {
        width: 20%;

        @include tablet {
            width: 0%;
        }
    }

    &__content {
        width: 80%;

        @include tablet {
            flex-grow: 1;
            width: 100%;
        }
    }
}
