.category-card {
    position: relative;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;

    &:hover &__img {
        transform: scale(1.1);
    }

    &__img {
        transition: all 0.5s ease-in-out;

        img {
            width: 100%;
            display: block;
        }
    }

    &__info {
        position: absolute;
        bottom: 15%;
        left: 10%;

        &__title {
            color: $btn-main-color;
            letter-spacing: 2.4px;
            font-size: 2rem;
            margin-bottom: 12px;
            text-transform: capitalize;
        }

        &__btn {
            display: inline-block;
            padding: 1rem 2.25rem;
            background-color: $btn-main-color;
            color: $btn-main-color;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}

// CSS hiệu ứng button
.allsides-8 {
    background: linear-gradient($main-bg 0 0) 0 100%, linear-gradient($main-bg 0 0) 0 100%,
        linear-gradient($main-bg 0 0) 100% 0, linear-gradient($main-bg 0 0) 100% 0;
    background-size: 20px 3px, 3px 20px;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.allsides-8:hover {
    background-position: 100% 100%, 0 0, 0 0, 100% 100%;
}
