.filter {
    &__heading {
        letter-spacing: 2.4px;
        font-size: 1.5rem;
    }

    &__categories {
        padding-bottom: 1rem;
        border-bottom: 1px solid #f5f5f5;

        &__info {
            margin-top: 8px;

            &__item {
                padding: 0.75rem 1.5rem 0.75rem 0;
                font-size: 1.1rem;
                letter-spacing: 1.2px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }

    &__container {
        margin-top: 1.75rem;
    }

    &__widget {
        margin-top: 1rem;

        &__title {
            font-size: 1.25rem;
            font-weight: 600;
        }

        &__content {
            margin-top: 10px;

            &__item ~ &__item {
                margin-top: 8px;
            }
        }
    }
}
