.product-view {
    @include flex(flex-start, flex-start);

    @include mobile {
        flex-direction: column;

        .btn-btn-cart {
            width: 100%;
        }
    }

    &__images {
        width: 40%;

        @include mobile {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }

    &__info {
        padding-left: 40px;
        width: 60%;

        @include mobile {
            padding-left: unset;
            width: 100%;
        }

        &__heading {
            font-size: 1.5rem;
            line-height: 29px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 5px;
            letter-spacing: 0.5px;
        }

        &__item {
            margin-top: 1.25rem;

            &__title {
                font-size: 16px;
                font-weight: 600;
                color: #1c1c1c;
                margin-right: 16px;
            }

            &__price {
                font-size: 20px;
                font-weight: 600;
                color: #1c1c1c;
                display: inline-block;
            }

            &__status {
                @include flex(center, flex-start);

                span {
                    color: $main-color;
                    margin-left: 8px;
                }
            }

            &__quantity {
                @include flex(center, flex-start);

                &__wrapper {
                    @include flex(center, flex-start);
                    border: 2px solid $main-color;
                    width: max-content;
                    margin-left: 1.5rem;

                    &__btn {
                        @include flex(center, center);

                        $size: 30px;
                        width: $size;
                        height: $size;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }

                    &__index {
                        @include flex(center, center);
                        font-size: 1.5rem;
                        width: 4rem;
                    }
                }
            }

            &__btn {
                @include flex(center, center);
                flex-direction: column;

                &__txt {
                    font-size: 1rem;
                    color: $txt-second-color;
                }
            }

            &__hotline {
                &__highlight {
                    color: #00b0f0;
                    margin: 0 4px;
                }
            }

            &__service {
                &__item {
                    @include flex(center, flex-start);
                    gap: 1rem;

                    img {
                        height: 35px;
                    }
                }

                &__item ~ &__item {
                    margin-top: 8px;
                }
            }
        }
    }
}
