.slider {
    margin-bottom: 40px;

    img {
        border-radius: 12px;
        max-width: 100%;
        height: auto;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 12px !important;
        font-weight: 600;
    }
    .swiper-button-next,
    .swiper-button-prev {
        @include flex(center, center);
        background-color: $main-bg;
        color: #000;
        border-radius: 50%;
        box-shadow: $box-shadow;
        width: 32px;
        height: 32px;
    }

    .swiper-button-next {
        right: 10px;
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-pagination {
        &-bullet {
            width: 32px;
            height: 8px;
            border-radius: 4px;
            background-color: #dce0e3;
            transition: width 0.3s ease;

            &-active {
                width: 50px;
                background-color: $main-color;
                // background-color: #9aa6af;
            }
        }
    }
}
